window {
    margin: 0px;
    border: 2px solid #ffffff;
    border-radius: 0px;
    background-color: #000000;
    font-family: "Iosevka Nerd Font Mono";
    font-size: 13px;
}

#input {
    margin: 8px;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    background-color: #111111;
}

#inner-box {
    margin: 4px;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    background-color: transparent;
}

#text {
    margin: 6px;
    color: #ffffff;
}

#text:selected {
    color: #000000;
}

#entry {
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    background-color: #ffffff;
}
